@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display:ital,wght@0,700;0,900;1,600&family=Poppins:wght@500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Condensed&family=Tilt+Prism&family=Ubuntu:ital,wght@1,300&family=Work+Sans:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --para : #777;
    --para-tint : #e4e4e4;
    --white : #fff;
    --black : #000;
    --heading : #84a4fc;
    --heading2 : #14F68C;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

h1,h2,h4,h3{
    font-family: 'Poppins', sans-serif;
}

h1
{
    font-size : var(--heading);
    font-size :  3rem;
    font-weight: 600;
}
h3
{
    font-size :  1.4rem;
    font-weight: 400;
}p{
    color: var(--para);
    line-height: 1.4;
    font-size: 1rem; 
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}.section
{
    padding: 60px 0;
}
.container
{
    max-width: 70rem;
    margin: 0 auto;
    /* background-color: red; */
}
.common-heading
{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: capitalize;
    position: relative;
}

.common-heading::before
{
    content: '';
    position: absolute;
    top: 110%;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: var(--helper);
    /* border-radius: 50%; */
}
.common-heading::after
{
    content: '';
    position: absolute;
    top: 120%;
    left: 1rem;
    min-width: 12rem;
    height: .2rem;
    background: var(--helper);
}
.grid
{
    display: grid;
    gap: 3rem;

}
.grid-two-column
{
    grid-template-columns: repeat(2, 1fr);
}
.grid-three-column
{
    grid-template-columns: repeat(3, 1fr);
}
.grid-four-column
{
    grid-template-columns: repeat(4, 1fr);
}

nav
{
    position: absolute;
}
.header
{
    display: flex;
    justify-content: space-between;
}
nav ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95vw;
    gap: 3rem;
    margin-top: 1rem;
    padding: .5rem;
    list-style: none;
}
nav ul li a
{
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
}
.logo
{
    position: absolute;
    color: var(--white);
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-size: 2.5rem;
    font-family: 'Tilt Prism', sans-serif;
}
.hero-img
{
    height: 100vh;
    width: 100vw;
}
.heading
{
    position: absolute;
    color: var(--heading);
}